<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<section class="header">
    <nav>
        <a href="index.html">Mat-Kollen</a>
        <div class="nav-links" id="navLinks">
            <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
            <ul>
                <li><a href="{{ url_for('home') }}">Hem</a></li>
                <li><a href="#help">Sammarbete</a></li>
                <li><a href="#info">Om oss</a></li>
                <li><a href="#footer">Kontakt</a></li>
            </ul>
        </div>
        <i class="fa-solid fa-bars" onclick="showMenu()"></i>
    </nav>

<div class="text-box">
    <h1>Content!</h1>
    <p>Learn to make websites design with HTML and CSS.</p>
    <a href="" class="hero-btn">Klick To Lern More</a>
</div>
</section>

<div class="main">
    {% block content %}
    {% endblock %}
</div>

<section class="footer" id="footer">
    <h4>About Us</h4>
    <p>Lite text om oss</p>
    <h3>Johannes H</h3>
    <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <P>Made with <i class="fa fa-heart-o"></i> by Easy Tutorials</P>
</section>

</body>
</html>