{% extends "base.html" %}

{% block title %}Mat-Kollen{% endblock %}

{% block content %}
<style>
  .error{
  border: 2px solid red;
}
.error-msg{
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
</style>

<!--Info section-->

<section class="course" id="help">
  <h1>Våra samarbetspartners</h1>
  <p>För att kunna erbjuda en prisjämförelsetjänst inom livsmedelsbranschen är det viktigt att ha samarbetspartners som kan tillhandahålla aktuell och korrekt prisinformation.<br><br>
    Genom att ha samarbetspartners inom livsmedelsbranschen kan man få tillgång till priser från olika leverantörer och butiker,<br><br>
    vilket möjliggör en mer omfattande jämförelse av priser och produkter. Detta kan i sin tur hjälpa konsumenter att fatta informerade beslut om var de ska handla och vad de ska köpa,
    baserat på faktorer som kvalitet, pris och tillgänglighet.<br><br>
    Genom att arbeta tillsammans med samarbetspartners kan man skapa en mer komplett och användbar prisjämförelsetjänst som hjälper konsumenterna att spara tid och pengar när de handlar matvaror.</p>

  <div class="row">
      <div class="course-col">
          <h3>ICA</h3>
          <img src="/static/images/ica.jpg" alt="MAXI" style="width: 150px">
          <p>En liten bild på ica</p>
      </div>
      <div class="course-col">
          <h3>MAXI</h3>
          <img src="/static/images/maxi.jpg" alt="MAXI" style="width: 150px">
          <p>En liten bild på maxi</p>
      </div>
      <div class="course-col">
          <h3>COOP</h3>
          <img src="/static/images/coop.jpg" alt="MAXI" style="width: 150px">
          <p>En liten bild på coop</p>
      </div>
  </div>
  <div class="row2">
    <div class="course-col">
        <h3>Hemköp</h3>
        <img src="/static/images/hemkop.jpg" alt="MAXI" style="width: 150px">
        <p>En liten bild på Hemköp</p>
    </div>
    <div class="course-col">
        <h3>Lidl</h3>
        <img src="/static/images/lidl.jpg" alt="MAXI" style="width: 150px">
        <p>En liten bild på Lidl</p>
    </div>
    <div class="course-col">
        <h3>Citygross</h3>
        <img src="/static/images/city.jpg" alt="MAXI" style="width: 150px">
        <p>En liten bild på Citygross</p>
    </div>
</div>
</section>

<!--Compare section-->

<section class="campus" id="campus">
<h1>Mat-kollen</h1>
<form method="post">
    <div class="store_input">
        <label><input type="text" placeholder="Mataffär 1" name="store1" class="form-control {% if store1_error %}error{% endif %}">
        {% if store1_error %}<span class="error-msg">Denna affär finns tyvärr inte med, ange en annan.</span>{% endif %}</label>
        <label><input type="text" placeholder="Mataffär 2" name="store2" class="form-control {% if store2_error %}error{% endif %}">
        {% if store2_error %}<span class="error-msg">Denna affär finns tyvärr inte med, ange en annan.</span>{% endif %}</label>
    </div>
    <div class="food_input">
      <label><input type="text" placeholder="Matvara" name="product" class="form-control {% if product_error %}error{% endif %}">
      {% if product_error %}<span class="error-msg">Denna vara är tillfälligt slut för denna affär.</span>{% endif %}</label>
    </div>
    <input class="comp_but" href="#campus" type="submit" value="Jämför">
</form>
<div class="data_info">
{% if store1 and store2 and product %}
    {% if product1_price and product2_price %}
        <h4>{{ product }} kostar {{ product1_price }} kronor på {{ store1 }}</h4>
        <h4>{{ product }} kostar {{ product2_price }} kronor på {{ store2 }}</h4>
        {% if product1_price > product2_price %}
            <h4>{{ product }} är billigare på {{ store2 }} än på {{ store1 }}</h4>
        {% elif product1_price < product2_price %}
            <h4>{{ product }} är billigare på {{ store1 }} än på {{ store2 }}</h4>
        {% else %}
            <h4>Produkten kostar lika mycket på båda affärerna</h4>
        {% endif %}
    {% endif %}
</div>
{% endif %}
</section>

    <!--about us content-->

    <section class="conten_us" id="info">
        <h4>Om oss</h4>
        <div class="image">
            <img src="" alt=""><!--Insert image-->
        </div>
        <div class="text">
        <p>Vi på Mat-Kollen skapa denna tjänst för att hjälpa människor att jämföra priser på mat särskilt viktigt i dagens ekonomi, med tanke på inflationen.<br><br>
            Inflationen innebär att priset på varor och tjänster stiger över tid,<br><br> 
            vilket kan göra det svårt för människor att hålla koll på vad saker kostar och hur mycket de behöver betala för sina dagliga behov.<br><br>
            Genom att använda en prisjämförelsetjänst kan människor enkelt och snabbt jämföra priser på olika livsmedel och hitta de bästa erbjudandena.<br><br>
            Det kan också hjälpa dem att spara pengar och minska kostnaderna för matinköp, vilket kan vara särskilt viktigt för dem med en begränsad budget.<br><br>
            På så sätt kan en prisjämförelsetjänst hjälpa människor att hantera inflationen och bibehålla sin ekonomiska stabilitet.</p>
        </div>
        <h3>Vi Är Här För Att Hjälpa Dig Spara Pengar!</h3>
    </section>

<script>
  var navLinks = document.getElementById("navLinks");
  function showMenu(){
      navLinks.style.right = "0";
  }
  function hideMenu(){
      navLinks.style.right = "-200xp";
  }
</script>

{% endblock %}