{% extends "base.html" %}
{% block title %}Mat-Kollen{% endblock %}
{% block content %}
    <style>
        
    </style>
    <h1>Mat-kollen</h1>
    <form method="post">
    <div class="store_1">
        <label>Mataffär 1: <input type="text" name="store1" class="form-control {% if store1_error %}error{% endif %}"></label>
        <label>Matvara 1:  <input type="text" name="product1" class="form-control {% if product1_error %}error{% endif %}"></label>
    </div>
    <div class="store_2">
        <label>Mataffär 2: <input type="text" name="store2" class="form-control {% if store2_error %}error{% endif %}"></label>
        <label>Matvara 2:  <input type="text" name="product2" class="form-control {% if product2_error %}error{% endif %}"></label>
    </div>
        <input type="submit" value="Compare">
    </form>
    {% if product1_price and product2_price %}
        <p>Här ska product namn in : {{ product1_price }}</p>
        <p>Här ska product namn in : {{ product2_price }}</p>
        {% if product1_price > product2_price %}
            <p>Pris ett är dyrare, ska in med info</p>
        {% elif product1_price < product2_price %}
            <p>pris två är dyrare, ska in med info</p>
        {% endif %}
    {% endif %}
{% endblock %}